.h1 {
  font-size: 2rem;
}
.h2 {
  font-size: 24px;
}
.h3 {
  font-size: 20px;
}
.h4 {
  font-size: 1rem;
  font-weight: 400;
}
.h5 {
  font-size: 14px;
}
.h6 {
  font-family: "Baloo Tamma 2";
  font-weight: 600;
  font-size: 12px;
  color: #858377;
}

.fw-500 {
  font-weight: 500;
}

.fw-600 {
  font-weight: 600;
}

.ls-sm {
  letter-spacing: 0.7px;
}
.ls-xs {
  letter-spacing: 1.1px;
}
.ls-md {
  letter-spacing: 1.92px;
}
.ls-lg {
  letter-spacing: 2px;
}
.ls-xl {
  letter-spacing: 3px;
}

.color-primary {
  color: #ffdf65;
}
.color-light-grey-1 {
  color: #858377;
}

.color-light-grey-2 {
  color: #636057;
}

.color-dark-grey-1 {
  color: #373a3c;
}

.color-white {
  color: #ffffff;
}

.color-pink {
  color: #ff785e;
}

.font-num {
  font-family: "Baloo Tamma 2";
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
